.container {
  background-color: #93818169;
  outline: 1px solid #93818169;

  padding: 0.75rem;
  border-radius: 1rem;
  width: 219px;
  transition: transform 0.2s ease;
}

.container:hover {
  transform: translateY(-2px);
}

.imageWrapper {
  position: relative;
  width: 195px;
  height: 240px;
  overflow: hidden;
  border-radius: 1rem;
}

.image {
  object-fit: cover;
  border-radius: 1rem;
}

.title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 0.875rem;
  margin-top: 0.25rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userLink {
  color: #60a5fa;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
  transition: opacity 0.2s ease;
}

.userLink:hover {
  opacity: 0.8;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
